<% provide(:title, "Help") %>
<h1>Sample App</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.jp/help">Rails Tutorial help page</a>.
  To get help on thei sample app, see the 
  <a href="http://railstutorial.jp/book"><em>Ruby on Rails Tutrorial</em>book</a>
</p>