<% provide(:title, 'Sign up') %>
<% provide(:url, signup_path) %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>

<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
